<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="customizedAuthentication">
          <serviceCredentials>
            <serviceCertificate storeLocation="LocalMachine"
                                storeName ="My"
                                 x509FindType="FindBySubjectName"
                                 findValue="lhl-PC"/>
            <userNameAuthentication  userNamePasswordValidationMode="Custom" 
                                      customUserNamePasswordValidatorType="Service1802.SimpleUserNamePasswordValidator,Service1802"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <ws2007HttpBinding>
        <!---->
        <binding name="userNameCredentialBinding">
          <security >
            <message clientCredentialType="UserName"
                      establishSecurityContext="true"/>
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="customizedAuthentication" name="Service1802.CalculatorService">
        <endpoint address="http://localhost:8888/calculatorservice "
                  binding="ws2007HttpBinding" 
                  bindingConfiguration="userNameCredentialBinding"
                  contract="Interface1802.ICalculator" />
      </service>
    </services>
    
  </system.serviceModel>
</configuration>