<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <client>
      <endpoint name="mex"
                address="http://127.0.0.1:9999/mex"
                binding="mexHttpBinding"
                contract="IMetadataProvisionService" >

      </endpoint>
    </client>
  </system.serviceModel>
  
</configuration>