<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Service1001.EmployeesService">
        <endpoint address="http://localhost:3721/employees "
                  binding="webHttpBinding"  contract="Service.Interface1001.IEmployees" 
                  behaviorConfiguration="webHttp"/>
        <!--<host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/calculatorservice/metadata" />
          </baseAddresses>
        </host>-->
      </service>
    </services>
  </system.serviceModel>
  
</configuration>