<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint  name="employeesService"
                 address="http://localhost:3721/employees"
                 behaviorConfiguration="webBehavior"
                 binding="webHttpBinding"
                 contract="Service.Interface1001.IEmployees">
      </endpoint>
      
    </client>
    
  </system.serviceModel>
</configuration>