<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <!--httpGetUrl="http://localhost:8888/calculatorservice/metadata"-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="CalculatorBehavior" name="Service.CalculatorService">
        <endpoint binding="wsHttpBinding" contract="Service.Interface.ICalculator" />
        <!--<host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/calculatorservice/metadata" />
          </baseAddresses>
        </host>-->
      </service>
    </services>
  </system.serviceModel>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>