<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_CalculatorService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8888/calculatorservice" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_CalculatorService" contract="Interface902.ICalculator"
        name="WSHttpBinding_CalculatorService">
        <identity>
          <userPrincipalName value="lhl-PC\lhl" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>