<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorBehavior">
          <serviceMetadata httpGetEnabled="true"
          httpGetUrl="http://localhost:8888/calculatorservice/metadata"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="CalculatorBehavior" name="Service902.CalculatorService">
        <endpoint address="http://localhost:8888/calculatorservice "
          binding="wsHttpBinding"  contract="Interface902.ICalculator" />
        <!--<host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/calculatorservice/metadata" />
          </baseAddresses>
        </host>-->
      </service>
    </services>
  </system.serviceModel>
</configuration>