<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    
    <services>
      <service name="Client1302.CalculatorService">
        <endpoint address="http://127.0.0.1:3721/calculatorservice"
                  binding="ws2007HttpBinding"
                  contract="Interface.ICalculator1">
        </endpoint>
        <endpoint address="http://127.0.0.1:9999/mex"
                  binding="mexHttpBinding"
                  contract="IMetadataProvisionService"
                  >
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
  
</configuration>