<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="routingBehavior">
          <routing  filterTableName="greetingFilterTable"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Service2101.HelloService" >
        <endpoint binding="ws2007HttpBinding" contract="Service.Interface2101.IHello" ></endpoint>
      </service>
      <service name="Service2101.GoodByeService">
        <endpoint binding="ws2007HttpBinding" contract="Service.Interface2101.IGoodBye"></endpoint>
      </service>
      <service name="System.ServiceModel.Routing.RoutingService" behaviorConfiguration="routingBehavior" >
        <endpoint binding="ws2007HttpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter"></endpoint>
      </service>
    </services>
    <client>
      <endpoint name="helloService"
                address="http://127.0.0.1/WcfService1/HelloService.svc"
                binding="ws2007HttpBinding"
                contract="*">
      </endpoint>
      <endpoint name="goodbyeService"
                address="http://127.0.0.1/WcfService1/GoodbyeService.svc"
                binding="ws2007HttpBinding"
                contract="*">
      </endpoint>
    </client>
    <routing >
      <backupLists>
        <backupList name="backuplist1">
          <add endpointName="goodbyeService"/>
          <add endpointName="helloService"/>
        </backupList>
      </backupLists>
      <filters>
        <filter name="Address4HelloService" 
                 filterType="EndpointAddress"
                 filterData="http://127.0.0.1/WcfService1/HelloService.svc"/>
        <filter name="Address4GoodByeService"
                 filterType="EndpointAddress"
                 filterData="http://127.0.0.1/WcfService1/GoodByeService.svc"/>
      </filters>
      <filterTables>
        <filterTable name="greetingFilterTable" >
          <add  filterName="Address4HelloService"  endpointName="helloService"/>
          <add filterName="Address4GoodByeService" endpointName="goodbyeService"/>
        </filterTable>
      </filterTables>
    </routing>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add  relativeAddress="HelloService.svc" service="Service2101.HelloService"/>
        <add  relativeAddress="GoodbyeService.svc" service="Service2101.GoodByeService"/>
        <add relativeAddress="GreetingService.svc" 
             service="System.ServiceModel.Routing.RoutingService, 
                       System.ServiceModel.Routing, 
                       Version=4.0.0.0, Culture=neutral, 
                       PublicKeyToken=31bf3856ad364e35"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <!--<system.diagnostics>
    <trace>
      <listeners>
        <add name="RemoteTraceListener"
             type="_702Service.RemoteTraceListener,
                   702Service"
             initializeData="traceservice"/>
      </listeners>
    </trace>
  </system.diagnostics>-->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>


</configuration>
