<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Service1501.CalculatorService" >
        <endpoint address="http://localhost:8888/calculatorservice" 
                  binding="basicHttpBinding" 
                  contract="Interface1501.ICalculator" ></endpoint>
      </service>
    </services>
  </system.serviceModel>
  
</configuration>