<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <!---->
        <binding name="MyBinding">
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service  name="Service.Interface.CalculatorService" >
        <endpoint  address="http://localhost:9999/calculatorservice"
            binding="wsHttpBinding"
            bindingConfiguration="MyBinding"
            contract="Service.Interface.ICalculator" >
        </endpoint>


        <!--服务端 逻辑地址和物理地址分离-->
        <!--<endpoint  address="http://localhost:9999/calculatorservice"  
                   binding="wsHttpBinding"
                   bindingConfiguration="MyBinding"
                   listenUri="http://localhost:8888/calculatorservice"
                   listenUriMode="Explicit"
                   contract="Service.Interface.ICalculator" >
        </endpoint>-->
        <!--<endpoint  address="http://localhost:3721/calculatorservice"  binding="basicHttpBinding" contract="Service.Interface.ICalculator">
          <headers>
            <sn xmlns="http://www.lhl.com/"  >
              {5a259f00-172f-4341-a4ab-d02e5fba8ecc}
            </sn>
          </headers>
        </endpoint>-->
      </service>
    </services>
  </system.serviceModel>
</configuration>