<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <system.serviceModel>
    <services>
      <service name="_702Service.CalculatorService" >
        <endpoint binding="basicHttpBinding" contract="_702Service.Interface.ICalculator" ></endpoint>
      </service>
    </services>
    <client>
      <endpoint name="traceservice" 
                address="http://127.0.0.1:3721/traceservice" 
                binding="basicHttpBinding" 
                contract="_702Service.Interface.ITrace">
      </endpoint>
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="RemoteTraceListener" 
             type="_702Service.RemoteTraceListener,
                   702Service" 
             initializeData="traceservice"/>
      </listeners>
    </trace>
  </system.diagnostics>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  

</configuration>
