<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="useCustomizedAuthorization">
          <serviceAuthorization principalPermissionMode="Custom"
                                 serviceAuthorizationManagerType="Serice1906.SimpleServiceAuthorizationManager,Serice1906">
            
            <authorizationPolicies >
              <add policyType="Serice1906.SimpleAuthorizationPolicy,Serice1906"/>
            </authorizationPolicies>
          </serviceAuthorization>
          <!--<serviceCredentials>
            <serviceCertificate storeLocation="LocalMachine"
                                storeName ="My"
                                 x509FindType="FindBySubjectName"
                                 findValue="lhl-PC"/>
            <userNameAuthentication  userNamePasswordValidationMode="Custom"
                                      customUserNamePasswordValidatorType="Service1802.SimpleUserNamePasswordValidator,Service1802"/>
          </serviceCredentials>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <!--<ws2007HttpBinding>
        --><!----><!--
        <binding name="userNameCredentialBinding">
          <security >
            <message clientCredentialType="UserName"
                      establishSecurityContext="true"/>
          </security>
        </binding>
      </ws2007HttpBinding>-->
    </bindings>
    <services>
      <service behaviorConfiguration="useCustomizedAuthorization" name="Serice1906.CalculatorService">
        <endpoint address="http://localhost:8888/calculatorservice "
                  binding="ws2007HttpBinding"
                  contract="Interface1906.ICalculator" />
      </service>
    </services>
  </system.serviceModel>
</configuration>