<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior >
          <serviceDiscovery></serviceDiscovery>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="scopeMapping">
          <endpointDiscovery enabled="true">
            <scopes>
              <add scope="http://www.lhl.com/calculatorservice"/>
            </scopes>
          </endpointDiscovery>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Service2102.CalculatorService">
        <endpoint address="http://127.0.0.1:3721/calculatorservice" 
                   binding="ws2007HttpBinding"
                   contract="Service.Interface2102.ICalculator" 
                   behaviorConfiguration="scopeMapping">
          
        </endpoint>
        <endpoint kind="udpDiscoveryEndpoint"></endpoint>
        
      </service>
    </services>
  </system.serviceModel>
</configuration>